/******** RESET ********/
html, button, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*cursor: crosshair;*/
}

button {
    background-color: Transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    outline:none;
}

a {
  text-decoration: none;
  color: black;
  cursor: default;
}


/******** END RESET ********/

/******** FONTS ********/
@font-face {
 font-family: 'nh55';
 src: url("../fonts/NHaasGroteskTXPro-55Rg.woff") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: 'nh65';
 src: url("../fonts/NHaasGroteskTXPro-65Md.woff") /* TTF file for CSS3 browsers */
}
/******** END FONTS ********/

/******** BODY ********/
html {
  font-family:'nh55';
  /*background-color: black;
  color: white;*/
}
/******** END BODY ********/
.container {
  height: 100%;
  width: 100%;
}

/******** HEADERS ********/
.title {
  padding: 2.5% 0 0 5%;
  z-index: -10;
}

.title h1 {
  font-size: 2vw;
  /*font-size: 1.75em;*/
  line-height: 140%;
  width: 95%;
}

/******** END HEADERS ********/

/******** MENU/LAYERS ********/
.menu {
  margin-top: 2.25%;
}

.layers {
  cursor: pointer;
}

.layers li {
  float: left;
}

.layers li:nth-child(3) {
  position: absolute;
  padding-left: 88%;
}

ul {
  list-style-type: none;
  padding: 2.75% 0 5% 5%;
  font-size: 1.75vw;
  /*font-size: 1.75em;*/
}

/******** LAYER 001 ********/
.layer001 li:nth-child(2) {
  position: absolute;
  /*padding-left: 73%;*/
  padding-left:65%;
}
  /******** INFO001 ********/
  .info001 {
    display: none;
    margin: 0% 0 0 0%;
    letter-spacing: 0.025vw;
  }
  .info001 li {
    list-style-type: none;
    position: absolute;
    background-color: ;
    font-family: 'nh55';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1.25vw;
    color: black;
    z-index: -1;
  }

  .info001 p span{
    font-family: 'nh65';
  }

  .info001 li:nth-child(1) {
    width: 34%;
    height: 10%;
  }

  .info001 li:nth-child(2) {
    width: 20%;
    height: 20%;
    position: absolute;
    padding-left: 44.5%;
  }

  .info001 li:nth-child(3) {
    width: 17%;
    height: 20%;
    position: absolute;
    padding-left:73.25%;
  }

  .info001 img {
    width: 90%;
    padding: 10.5% 0 0 5%;
  }
  /******** END INFO ********/
/******** LAYER 001 ********/

.layer002 li:nth-child(2) {
  position: absolute;
  padding-left: 66%;
}

.layer003 li:nth-child(2) {
  position: absolute;
  padding-left: 68.5%;
}

.layer004 li:nth-child(2) {
  position: absolute;
  padding-left: 62%;
}

.layer005 li:nth-child(2) {
  position: absolute;
  padding-left: 68%;
}

.layer006 li:nth-child(2) {
  position: absolute;
  padding-left: 70%;
}

.layer007 li:nth-child(2) {
  position: absolute;
  padding-left: 69.75%;
}

.layer007 {
  cursor: default;
}
/******** END MENU/LAYERS ********/
