/******** RESET ********/
html, button, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*cursor: crosshair;*/
}

button {
    background-color: Transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    outline:none;
}
/******** END RESET ********/

/******** FONTS ********/
@font-face {
 font-family: 'nh55';
 src: url("../fonts/NHaasGroteskTXPro-55Rg.woff") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: 'nh65';
 src: url("../fonts/NHaasGroteskTXPro-65Md.woff") /* TTF file for CSS3 browsers */
}
/******** END FONTS ********/

/******** BODY ********/
html {
  font-family:'nh55';
  /*background-color: black;
  color: white;*/
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: "nh65";
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 2.20% 0 4.25% 5%;
  font-size: 1.75vw;
  /*font-size: 1.75em;*/
}

ul h1 {
  font-family: "nh65";
  font-size: 3vw;
}

p {
  font-size: 1.25vw;
  color: black;
}
/******** END BODY ********/
.container {
  height: 100%;
  width: 100%;
}

/******** HEADER ********/
.title {
  padding: 2.5% 0 0 5%;
  z-index: -10;
}

.title h1 {
  display: block;
  font-size: 2.125vw;
  /*font-size: 1.75em;*/
  line-height: 140%;
  width: 95%;
}
/******** END HEADER ********/

/******** MENU/LAYERS ********/
.menu {
  margin-top: 2.25%;
}

.layers {
  cursor: pointer;
}

.layers li {
  float: left;
}

.layers li:nth-child(3) {
  position: absolute;
  padding-left: 88%;
}

/******** INFO ********/
.info li  {
  list-style-type: none;
  position: absolute;
  background-color: ;
  font-family: 'nh55';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 1.25vw;
  color: black;
}

.info p span{
  font-family: 'nh65';
}

.info li:nth-child(1) {
  width: 34%;
  height: 10%;
}

.info li:nth-child(2) {
  width: 20%;
  height: 20%;
  position: absolute;
  padding-left: 44.5%;
}

.info li:nth-child(3) {
  width: 17%;
  height: 20%;
  position: absolute;
  padding-left:73.25%;
}

.infoImg {
  margin: 0% 0 0 6%;
}

.infoImgLast {
  margin: 0% 0 0 6%;
}

.infoVid {
  margin: 0% 0 0 6%;
}

.infoVidLast {
  margin: 0% 3% 0 6%;
}
/******** END INFO ********/

/******** LAYER 001 ********/
.layer001 li:nth-child(2) {
  position: absolute;
  /*padding-left: 73%;*/
  padding-left:65.25%;
}
  /******** INFO 001 ********/
  .info001 {
    display: none;
    margin: -10.75% 0 0 0%;
    letter-spacing: 0.025vw;
  }

  .zine img {
    width: 80%;
  }

  .handOut img {
    width: 47%;
  }
  /******** END INFO 001 ********/
/******** END LAYER 001 ********/

/******** LAYER 002 ********/
.layer002 li:nth-child(2) {
  position: absolute;
  padding-left: 66%;
}
/******** INFO 003 ********/
.info002 {
  display: none;
  margin: -17.5% 0 0% 0%;
  letter-spacing: 0.025vw;
}
/******** END LAYER 002 ********/


/******** LAYER 003 ********/
.layer003 li:nth-child(2) {
  position: absolute;
  padding-left: 68.5%;
}
  /******** INFO 003 ********/
  .info003 {
    display: none;
    margin: -23.5% 0 0% 0%;
    letter-spacing: 0.025vw;
  }
  /******** END INFO 003 ********/
/******** END LAYER 003 ********/

/******** LAYER 004 ********/
.layer004 li:nth-child(2) {
  position: absolute;
  padding-left: 62%;
}
  /******** INFO 004 ********/
  .info004 {
    display: none;
    margin: -30.5% 0 0% 0%;
    letter-spacing: 0.025vw;
  }
  /******** END INFO 004 ********/
/******** END LAYER 004 ********/

.layer005 {
  cursor: default !important;
}

.layer005 li:nth-child(2) {
  position: absolute;
  padding-left: 68%;
}

/******** LAYER 006 ********/
.layer006 li:nth-child(2) {
  position: absolute;
  padding-left: 70%;
}
  /******** INFO 006 ********/
  .info006 {
    display: none;
    margin: -43% 0 0% 0%;
    letter-spacing: 0.025vw;
  }
  /******** END INFO 006 ********/
/******** END LAYER 006 ********/

.layer007 li:nth-child(2) {
  position: absolute;
  padding-left: 68%;
}

.layer007 {
  cursor: pointer;
}
/******** END MENU/LAYERS ********/

/******** CENTER DIV ********/
  /******** CENTER 001 ********/
  .centerInfo001 {
    margin-top: 7%;
    text-align: center;
  }
  /******** END CENTER 001 ********/

  /******** CENTER 002 ********/
  .centerInfo002 {
    margin-top: 9.75%;
    text-align: center;
  }

  .centerInfo002 iframe:nth-child(1) {
    margin-top: -1.75%;
  }

  .centerInfo002 img {
    width: 70%;
  }

  .centerInfo002 video {
    width: 70%;
  }

  .centerInfo002 .small {
    width: 40%;
  }
  /******** END CENTER 002 ********/

  /******** CENTER 003 ********/
  .centerInfo003 {
    margin-top: 18%;
    text-align: center;
  }

  .centerInfo003 iframe:nth-child(1) {
    margin-top: -11.5%;
    width: 1080px;
    height:720px;
    margin-bottom: -1.5%;
  }

  .centerInfo003 .info {
    width: 40%;
  }


  .centerInfo003 img {
    width: 80%;
  }

  .centerInfo003 .terminal {
    width: 50%;
  }

  .centerInfo003 .sketch {
    width: 50%;
  }

  .centerInfo003 .small {
    width: 50%;
  }
  /******** END CENTER 003 ********/

  /******** CENTER 004 ********/
  .centerInfo004 {
    margin-top: 16%;
    text-align: center;
  }

  .centerInfo004 img:nth-child(1) {
    margin-top: -10.75%;
    width: 80%;
  }

  .big {
     width: 75% !important;
   }

  .centerInfo004 img {
    width: 60%;
  }

  #josefLogo {
    width: 50%;
  }
  /******** END CENTER 004 ********/

  /******** CENTER 006 ********/
  .centerInfo006 {
    margin-top:35.25%;
    text-align: center;
  }

  .centerInfo006 img {
    width: 80%;
  }

  .centerInfo006 img:nth-child(1) {
    margin-top: -24%;
  }
  /******** END CENTER 001 ********/

/******** END CENTER DIV ********/


/******* HORIZONTAL SCROLL *******/
.noScroll {
   /*height: 40vw;*/
   height: 100%;
   width: 79.5%;
   margin-left: 10%;
   overflow: hidden;
}

.promo {
  height: 50%;
  text-align: center;
  width: 100%;
	overflow-x: auto;
  white-space: nowrap;
  padding-right: 20%;
}

.promo::-webkit-scrollbar {
  height: 1.5vh;
  background-color: none;
  /*padding-right: 10000px;*/
}

.promo::-webkit-scrollbar-thumb {
  border: 2px solid black;
  height: 1px;
  opacity: 0.1;
  /*border-radius: 5px;*/
}
/******* END HORIZONTAL SCROLL *******/

/******** VIMEO RESPONSIVE ********/
/*.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
}
/******** END VIMEO RESPONSIVE ********/
