/******** RESET ********/
html, button, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/******** END RESET ********/

/******** FONTS ********/
@font-face {
 font-family: 'nh55';
 src: url("../fonts/NHaasGroteskTXPro-55Rg.woff") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: 'nh65';
 src: url("../fonts/NHaasGroteskTXPro-65Md.woff") /* TTF file for CSS3 browsers */
}
/******** END FONTS ********/

html {
  font-family:'nh55';
}

.title {
  padding: 2.5% 0 0 5%;
}

.title h1 {
  font-size: 2vw;
  line-height: 130%;
}

ul {
  list-style-type: none;
  padding: 2.5% 0 5% 5%;
  font-size: 1.75vw;
}

.menu {
  margin-top: 2.25%;
}

.layers li:nth-child(3) {
  position: absolute;
  padding-left: 88%;
}

.layer001 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 1);
  float: left;
}

.layer001 li {
  float: left;
}

.layer001 li:nth-child(2) {
  position: absolute;
  padding-left: 65%;
}

.layer002 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 0.9);
  float: left;
}

.layer002 li {
  float: left;
}

.layer002 li:nth-child(2) {
  position: absolute;
  padding-left: 66%;
}

.layer003 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 0.8);
  float: left;
}

.layer003 li {
  float: left;
}

.layer003 li:nth-child(2) {
  position: absolute;
  padding-left: 68.5%;
}


.layer004 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 0.7);
  float: left;
}

.layer004 li {
  float: left;
}

.layer004 li:nth-child(2) {
  position: absolute;
  padding-left: 62%;
}

.layer005 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 0.6);
  float: left;
}

.layer005 li {
  float: left;
}

.layer005 li:nth-child(2) {
  position: absolute;
  padding-left: 68%;
}

.layer006 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 0.5);
  float: left;
}

.layer006 li {
  float: left;
}

.layer006 li:nth-child(2) {
  position: absolute;
  padding-left: 70%;
}

.layer007 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 0.4);
  float: left;
}

.layer007 li {
  float: left;
}

.layer007 li:nth-child(2) {
  position: absolute;
  padding-left: 69.75%;
}

.layer008 {
  margin-top: 0px;
  width: 100%;
  background: rgba(107, 126, 60, 0.3);
  float: left;
}

.layer008 li {
  float: left;
}

.layer008 li:nth-child(2) {
  padding-left: 511px;
}

.layer008 li:nth-child(3) {
  padding-left: 99px;
}
