@media only screen and (max-width: 500px) {
  html {
    overflow: hidden;
  }
  ul {
    padding-bottom: 20.75%;
  }
  .title h1 {
    font-size: 4vh;
    position: absolute;
    line-height: 300%;
    width: 90%;
  }
  .menu {
    margin-top: -2.5%;
  }
  .layers ul {
    visibility: hidden;
  }
}
